<div class="container">
    <ul class="categories-list">
      <li class="categories-list__item active"><a href="#">All categories</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
      <li class="categories-list__item"><a href="#">Categories Title</a></li>
    </ul>
  </div>