<div class="backdrop-modal dark-theme team__backdrop--hidden">
    <div class="team__modal">
         <button class="team__modal--close close-modal-team">
           <svg class="team__icon team__icon--close" width="25" height="25">
             <use href="/src/images/icon.svg#icon-closeCross"></use>
           </svg>
         </button>
         <h2 class="team__title">Development Team</h2>
         <div class="team__container">
          <ul class="team__list">

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="/src/images/Igor Yevtushenko.jpg" 
                      alt="Igor Yevtushenko" width="150" height="150">
                  </div>

                  <h3 class="team__developer">Igor Yevtushenko</h3>
                  <p class="team__prof">Team-lead</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="/src/images/Hanna Svietik.jpg" 
                      alt="Hanna Svietik" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Hanna Svietik</h3>
                  <p class="team__prof">Scrum Master</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="/src/images/Aleksandra.jpg" 
                      alt="Aleksandra" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Oleksandra Shport</h3>
                  <p class="team__prof">Developer</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="/src/images/Andrii Pavliuk.jpg" 
                      alt="Andrii Pavliuk" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Andrii Pavliuk</h3>
                  <p class="team__prof">Developer</p>
              </li>

              

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="/src/images/Konstantin Shaposhnyk.jpg" 
                      alt="Konstantin Shaposhnyk" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Konstantin Shaposhnyk</h3>
                  <p class="team__prof">Developer</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="/src/images/Liliya Romanchuk.jpg" 
                      alt="Liliya Romanchuk" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Liliya Romanchuk</h3>
                  <p class="team__prof">Developer</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="/src/images/Tatyana Kazhukalo.jpg" 
                      alt="Tatyana Kazhukalo" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Tatyana Kazhukalo</h3>
                  <p class="team__prof">Developer</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="/src/images/Vasyl Shaposhnyk.jpg" 
                      alt="asyl Shaposhnyk" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Vasyl Shaposhnyk</h3>
                  <p class="team__prof">Developer</p>
              </li>

             

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="/src/images/Yuriy Mazalov.jpg" 
                      alt="Yuriy Mazalov" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Yuriy Mazalov</h3>
                  <p class="team__prof">Developer</p>
              </li>

              
            <li class="team__item">
                <div class="team__img-wrapper">
                    <img class="team__img" 
                    src="/src/images/volodumur.png" 
                    alt="Vladimir Degtyarev" width="150
                    " height="150
                    ">
                </div>

                <h3 class="team__developer">Vladimir Degtyarev</h3>
                <p class="team__prof">Developer</p>
            </li>

          </ul>     
        </div>
</div>         