<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>papyrus8</title>
</head>
<body>
    <body>
        <div class="team-container">
            <div class="team-item">
                <div class="team__img-wrapper">
                    <img class="team__img" 
                    src="/src/images/Igor Yevtushenko.jpg" 
                    alt="Igor Yevtushenko" width="150" height="150">
                </div>
        
                <h3 class="team__developer">Igor Yevtushenko</h3>
                <p class="team__prof">Team-lead</p>
            </div>
        
            <div class="team-item">
                <div class="team__img-wrapper">
                    <img class="team__img" 
                    src="/src/images/Hanna Svietik.jpg" 
                    alt="Hanna Svietik" width="150" height="150">
                </div>
        
                <h3 class="team__developer">Hanna Svietik</h3>
                <p class="team__prof">Scrum Master</p>
            </div>
        
            <div class="team-item">
                <div class="team__img-wrapper">
                    <img class="team__img" 
                    src="/src/images/Aleksandra.jpg" 
                    alt="Aleksandra" width="150" height="150">
                </div>
        
                <h3 class="team__developer">Oleksandra Shport</h3>
                <p class="team__prof">Developer</p>
            </div>
        
            <div class="team-item">
                <div class="team__img-wrapper">
                    <img class="team__img" 
                    src="/src/images/Andrii Pavliuk.jpg" 
                    alt="Andrii Pavliuk" width="150" height="150">
                </div>
        
                <h3 class="team__developer">Andrii Pavliuk</h3>
                <p class="team__prof">Developer</p>
            </div>
        
            <div class="team-item">
                <div class="team__img-wrapper">
                    <img class="team__img" 
                    src="/src/images/Dmytro Orzhihivskyi.jpg" 
                    alt="Dmytro Orzhihivskyi" width="150" height="150">
                </div>
        
                <h3 class="team__developer">Dmytro Orzhihivskyi</h3>
                <p class="team__prof">Developer</p>
            </div>

            <div class="team-item">
                <div class="team__img-wrapper">
                    <img class="team__img" 
                    src="/src/images/Konstantin Shaposhnyk.jpg" 
                    alt="Konstantin Shaposhnyk" width="150" height="150">
                </div>
            
                <h3 class="team__developer">Konstantin Shaposhnyk</h3>
                <p class="team__prof">Developer</p>
            </div>

            <div class="team-item">
                <div class="team__img-wrapper">
                    <img class="team__img" 
                    src="/src/images/Liliya Romanchuk.jpg" 
                    alt="Liliya Romanchuk" width="150" height="150">
                </div>
            
                <h3 class="team__developer">Liliya Romanchuk</h3>
                <p class="team__prof">Developer</p>
            </div>

            <div class="team-item">
                <div class="team__img-wrapper">
                    <img class="team__img" 
                    src="/src/images/Vasyl Shaposhnyk.jpg" 
                    alt="Vasyl Shaposhnyk" width="150" height="150">
                </div>
            
                <h3 class="team__developer">Vasyl Shaposhnyk</h3>
                <p class="team__prof">Developer</p>
            </div>

            <div class="team-item">
                <div class="team__img-wrapper">
                    <img class="team__img" 
                    src="/src/images/Vladimir Degtyarev.jpg" 
                    alt="Vladimir Degtyarev" width="150" height="150">
                </div>
            
                <h3 class="team__developer">Vladimir Degtyarev</h3>
                <p class="team__prof">Developer</p>
            </div>

            <div class="team-item">
                <div class="team__img-wrapper">
                    <img class="team__img" 
                    src="/src/images/Yuriy Mazalov.jpg" 
                    alt="Yuriy Mazalov" width="150" height="150">
                </div>
            
                <h3 class="team__developer">Yuriy Mazalov</h3>
                <p class="team__prof">Developer</p>
            </div>
    </body>
</html>

