<div class="container">
  <section class="support-box">
    <h3 class="support-title">
      Support Ukraine
      <svg class="support-svg" width="20px" height="32px">
        <use href="./images/icon.svg#icon-tryzub"></use>
      </svg>
    </h3>
  <div class="slider-container">
    <ul class="support-list js-support">
    </ul>
  </div>

  <div class="button-support slider-button">
    <button class="support-button">
      <svg class="support-button-svg">
        <use href="./images/icon.svg#icon-arrowDown"></use>
      </svg>
    </button>
  </div>
</aside>
