<div class="support-box">
  <section>
    <h3 class="support-title">
      Support Ukraine
      <svg class="support-svg" width="20px" height="32px">
        <!-- <use href="./src\images\icon.svg#icon-tryzub"></use> -->
      </svg>
    </h3>

    <ul class="support-list">
      <li>
        <a href=""><span>1</span></a>
      </li>
    </ul>
    <button class="">
      <svg class="support-button-svg" width="38px" height="38px">
        <!-- <use href="./src\images\icon.svg#icon-arrowDown"></use> -->
      </svg>
    </button>
  </section>
</div>
