<div class="support-box">
  <section>
    <h3 class="support-title">
      Support Ukraine
      <svg class="support-svg" width="20px" height="32px">
        <use href="./images/icon.svg#icon-tryzub"></use>
      </svg>
    </h3>

    <ul class="support-list">
      <li>
        <a href=""><span></span></a>
      </li>
    </ul>
    <button class="support-button">
      <svg class="support-button-svg">
        <use href="./images/icon.svg#icon-arrowDown"></use>
      </svg>
    </button>
  </section>
</div>
