.categories-list {
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  margin-bottom: 40px;

  width: 100%;
  max-height: 228px;
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .categories-list {
    width: 337px;
    max-height: 472px;
    display: inline-block;
    font-size: 18px;
  }
  ::-webkit-scrollbar-thumb {
    height: 167px;
  }
}

.categories-list__item {
  margin-bottom: 24px;
}
.categories-list__item.is-active {
  color: rgba(79, 46, 232, 1);
  text-transform: uppercase;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(224, 224, 224, 1);
  border-radius: 12px;
  height: 114px;
}
