@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
    --primary-font: 'DM Sans', sans-serif;
    --primary-bg-color-light: #D0D0D0;
    --primary-bg-color-dark: #202024;
    --primary-text-color-theme-light: rgba(17, 17, 17, 0.6);
    --primary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
    --secondary-text-color: #B4AFAF;
    --title-text-color-theme-light: #111111;
    --title-text-color-theme-dark: #FFFFFF;
    --accent-color: #4F2EE8;
    --header-bg-color-theme-light: #FFFFFF;
    --header-bg-color-theme-dark: #111111;
    --logo-text-color: #000000;
    --hover-color: #EAC645;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
}
