.footer {

    width: 100%;
    height: 100px;
    margin-top: auto;
    padding-top: 28px;
    padding-bottom: 29px;
    text-align: center;    
    color: #545454;
    background-color: inherit;   
    margin-top: 40px; 
    @media screen and (min-width: 768px) {
      height: 79px;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-top: 60px;
    }
  }

.footer-library {
  margin-top: 40px;
  @media screen and (min-width: 768px) {
      margin-top: 60px;
    }
}
  
  .footer__container {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .footer__text {
    
    color: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  
    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 19px;  
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .footer__dev {
 
    display: flex;
    justify-content: center;
    align-items: center;
  

  }
  
  .footer__icon {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    fill: #B92F2C;
    animation: beat 1s infinite ease-in-out;
  }

  @keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .footer__modal {
    padding-top: 10px;
    padding-bottom: 10px;

    cursor: pointer;
  
    &:hover,
    &:focus {
      color: #B92F2C;
    }
    @media screen and (min-width: 768px) {
      padding: 0;
    }
  }