@import './fonts';
@import './common';
@import './reset';
@import './main';
.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background-image: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  );
}
.logo-text{
  font-weight: 700;
}

.switcher{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;

    background-color: #ffffff;
}
.switcher-input{
height: 0;
width: 0;
opacity: 0;

}
.switcher-slider{
position: absolute;
cursor: pointer;
border-radius: 34px;
left: 0;
bottom: 8.33%;
top: 8.33%;
right: 0;
background:  linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);
}

.switcher-slider::before{
  content: "";
position: absolute;
cursor: pointer;
border-radius: 50%;
left: 2.5%;
top:12.5%;
right: 52.5%;
bottom: 12.5%;
height: 18px;
width: 18px;
background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 100%);
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 1px 2px 4px rgba(0, 0, 0, 0.1);
}
.switcher-input:focus +.switcher-slider {
box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
