body.dark-theme {
  .auth-modal {
    background-color: var(--primary-bg-color-dark);
    border: 2px solid #F6F6F6;
  }
  .modal-icon {
    fill: #F6F6F6;
  }
  .modal-input {
    color: #F6F6F6;
    background-color: var(--primary-bg-color-dark);
    border-color: #F6F6F6;

    &:focus {
      border-color: var(--accent-color);
      outline: transparent;
      
    }
    &::placeholder {
      color: #F6F6F6;
      
    }
  }
  .modal-submit-btn {
    background-color: #F6F6F6;
    color: #202022;
    &:hover,
    &:focus {
      color: #F6F6F6;
      background-color: var(--accent-color);
    }
  }
  .modal-sign-btn {
    color: var(--primary-text-color-theme-dark);
    &.is-active {
      color: var(--accent-color);
    }
  }
  .modal-close-icon {
    fill: #F6F6F6;
    
  }
}
