@import './common';

.scroll-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: var(--accent-color);
    border-color: transparent;
    fill: var(--title-text-color-theme-dark);
    transition: border-color var(--animation);
    
}

.scroll-up:hover {
    cursor: pointer;
    border: 5px solid rgba(250, 250, 250, 0.5);
}

.visually-hidden-scroll {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}