body {
  background-color: #f6f6f6;

}
.shopping-list-wrapper {
  display: flex;
  column-gap: 40px;

  
}
.sl-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;

  color: #111111;


  // margin-top: 40px;

  margin-bottom: 40px;
}

.empty-cart {
  width: 265px;

  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
}

.sl-part {
  color: rgba(79, 46, 232, 1);
}

.sl-list > li {
  margin-bottom: 20px;
}

.trash-btn {
  position: relative;
  top: 14px;
  right: 14px;
  padding: 12px;

  width: 28px;
  height: 28px;
  border: none;
  background: #4f2ee8;
  border-radius: 50%;
  cursor: pointer;
}

.trash-btn > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 16px;
  height: 16px;
}

.sl-card {
  height: 170px;
  width: 100%;
  display: flex;

  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;

  background-color: #fff;
}

.sl-book-img {
  margin: 14px;
  border-radius: 8px;
}

.sl-book-cat {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: #b4afaf;

  margin-bottom: 8px;
}

.sl-book-title {
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #111111;

  margin-top: 14px;
  margin-bottom: 4px;
}

.sl-book-descr {
  height: 68px;
  overflow-y: scroll;


  margin-bottom: 8px;


  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  color: #111111;
}

.sl-book-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  color: #b4afaf;

  margin-right: auto;

  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sl-aut-shops {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sl-eshops {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sl-eshops > li:not(:last-child) {
  margin-right: 8px;
}

.sl-message {
  margin-bottom: 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: -0.02em;

  color: rgba(0, 0, 0, 0.6);
}

// Tablet styles

@media screen and (min-width: 768px) {
  .sl-card {
    height: 213px;
  }

  .sl-book-img {
    width: 116px;
    margin: 24px;
  }

  .sl-book-title {
    margin-top: 24px;
    overflow: visible;
    width: auto;
  }

  .sl-book-cat {
    margin-bottom: 14px;
  }

  .sl-book-descr {
    margin-bottom: 20px;
    padding: 0;
  }

  .sl-book-author {
    overflow: visible;
  }

  .trash-btn {
    top: 24px;
    right: 24px;

    width: 34px;
    height: 34px;
  }

  .trash-btn > svg {
    width: 18px;
    height: 18px;
  }

  .sl-book-info {
    width: inherit;
  }

  .empty-cart {
    margin-top: 140px;
  }

  .sl-message {
    font-size: 18px;
    line-height: 1.33;

    margin-bottom: 20px;
  }

  .empty-cart > img {
    width: 322px;
  }

  .sl-amazon {
    width: 48px;
    height: 15px;
  }

  .sl-ibooks {
    width: 28px;
    height: 27px;
  }

  .sl-bookshop {
    width: 32px;
    height: 30px;
  }

  .sl-eshops > li:not(:last-child) {
    margin-right: 16px;
  }
}

body.dark-theme .sl-title {
  color: #ffffff;
}

body.dark-theme .sl-book-descr {
  color: #ffffff;
}

body.dark-theme .sl-book-title {
  color: #ffffff;
}
