<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <div class="book-modal">
      <img src="" alt="" />
      <h2></h2>
      <h3></h3>
      <p></p>
      <ul>
        <li>
          <svg><use href="/src/images/icon.svg#icon-amazon"></use></svg>
        </li>
        <li>
          <svg><use href="/src/images/icon.svg#icon-ibooks"></use></svg>
        </li>
        <li>
          <svg><use href="/src/images/icon.svg#icon-bookshop"></use></svg>
        </li>
      </ul>
      <button>Add to shopping list</button>
    </div> -->
    <li>
      <!-- <svg><use href="/src/images/icon.svg#icon-amazon"></use></svg> -->
    </li>
  </body>
</html>
